body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: bisque;
}

.logo{
    flex:1 0 auto;
    padding-left:20px;
    color:rgb(19, 17, 17);

}

.header-links{
    list-style: none;
    display: flex;
    gap: 15px;
    flex-shrink:1;
    padding-right:20px
}

li a{
    text-decoration: none;
}

a{
    color:rgb(19, 17, 17);
}
a:hover{
    color:rgba(68, 60, 60, 0.863);
}

.hero{
    max-width: 100%;
    background-color:rgb(190, 132, 55) ;
    display: flex;
    padding-left:20px;
}

#hero-title{
    font-size: 32px;
    font-weight:bold;
    padding-top:20px;

}
#hero-sub{
    padding: 20px 0px 20px 0px;
}

.hero-text button, #sus-button{
    border-radius:8px;
    background-color: bisque;
    height: auto;
    padding:8px;
}

.hero-image{
    width:550px;
    height:auto;
    padding:20px 20px 20px 20px;
}
.image-section{
    background-color: bisque;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.image-section div div img{
    max-height: 250px;
    width: auto;
}

#image-title{
    text-align: center;
    font-size:40px;
    padding: 20px 0px 20px 0px;
}

.image-flex{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align:center;
    padding:0px 20px 20px 20px;
}

.quote-section{
    background-color:rgb(190, 132, 55) ;
    padding:40px 0px 40px 0px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;


}

.quote{
    max-width: 50%;
}

.person{
    min-width: 50%;
    min-height: auto;
    text-align: right;
    font-weight: bold;
    
}

.sign-up-section{
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: bisque;
}

.colored-box{
    min-width: 50%;
    display:flex;
    align-items: center;
    margin: 50px;
    padding: 10px 30px 30px ;
    background-color:rgb(190, 132, 55) ;
    justify-content: space-evenly;
    gap:20px;
}

#sus-text{
    align-self: flex-start;
}

.sub-head{
    font-size: 24px;
    font-weight:bold;
}

.sub-sub{
    font-size: 14px;
    font-weight:300;
}

#sus-button{
    align-self:center;
    margin-top:20px;
}